@import "./../../../../mixin.scss";

header {
  @include dFlex($jc: space-between);
  padding: 16px;
  position: relative;
  z-index: 1;
}

.right-wrapper {
  @include dFlex($gp: 24px);

  svg {
    cursor: pointer;
  }
}

.fade400 {
  transition: opacity 400ms ease-in-out;
}

.focus-mode-icon {
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}

.fade-out {
  opacity: 0 !important;
}

.fade-in-20 {
  opacity: 0.2;
}

.fade-in-100 {
  opacity: 1;
}
