@import "./../../../../mixin.scss";

header {
  @include dFlex($jc: space-between);
  padding: 16px;
  position: relative;
  z-index: 1;
}

.right-wrapper {
  display: flex;
  gap: 24px;

  img {
    cursor: pointer;
  }
}
