@import "./../../../../mixin.scss";

header {
  @include dFlex($jc: space-between);
  padding: 16px;
  position: relative;
  z-index: 1;
}

.right-wrapper {
  @include dFlex($gp: 24px);

  img {
    cursor: pointer;
  }
}

.fade400 {
  transition: opacity 400ms ease-in-out;
}
