@import "./../../../../mixin.scss";
@import "./../../../../styles.scss";

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  min-width: 100vw;
  min-width: 100svw;
  background-image: url("/assets/img/backgrounds/background-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  @include dFlex();
  flex-grow: 1;
}

.gradient-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 33vh;
  height: 33svh;
  pointer-events: none;
}

.gradient-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 33vh;
  height: 33svh;
  pointer-events: none;
}
