@import "./../../../../mixin.scss";
@import "./../../../../styles.scss";

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  min-width: 100vw;
  min-width: 100svw;
}

.background-fixed {
  @include background-fixed();
  background-image: url("/assets/img/backgrounds/background-1.webp");
}

section {
  @include dFlex();
  flex-grow: 1;
}

.gradient-top {
  @include gradient(top);
}

.gradient-bottom {
  @include gradient(bottom);
}
