@import "./../../../../styles.scss";
@import "./../../../../mixin.scss";

section {
  @include dFlex();
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.content-wrapper {
  transform: translateX(calc(50vw + 50%));
  transition: transform 750ms ease-in-out;
}

.start-animation {
  transform: translateX(0);
}
