@import "./../../../../styles.scss";
@import "./../../../../mixin.scss";

section {
  @include dFlex($jc: flex-start, $gp: 40px);
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  // height: 400px;
  overflow: auto;
}

.saved-custom-timers-headline {
  @include dFlex();
  flex-direction: column;

  > span {
    color: $copy-light;
    font-size: 16px;
    font-weight: 300;
  }
}

.headline {
  @include dFlex($gp: 8px);

  img {
    height: 20px;
    width: 20px;
  }

  span {
    font-size: 24px;
    color: $copy-light;
  }
}

.timer-settings {
  @include dFlex($ai: flex-start, $gp: 8px);
  flex-direction: column;
  width: 100%;

  > div {
    @include dFlex($gp: 8px);

    img {
      cursor: pointer;
    }

    span {
      font-size: 16px;
      color: $copy-light;
    }
  }
}
