<section>
  <div class="headline">
    <img src="assets\img\icons\clock.svg" alt="settings" />
    <span>Custom Timers</span>
  </div>

  <div class="timer-settings">
    <div>
      <img src="assets\img\icons\checkbox-unchecked.svg" alt="checkbox" />
      <span>Show timer in browser tab</span>
    </div>

    <div>
      <img src="assets\img\icons\checkbox-checked.svg" alt="checkbox" />
      <span>Save completed flow sequences in your Google Calendar</span>
    </div>
  </div>

  <div class="saved-custom-timers-headline">
    <div class="headline">
      <img src="assets\img\icons\settings.svg" alt="settings" />
      <span>Saved Custom Timers</span>
    </div>
    <span>( 3 of 10 )</span>
  </div>

  <div class="saved-custom-timers-box">
    <div>
      <div>
        <img src="assets\img\icons\dots.svg" alt="drag" />
        <span>Test Timer Pogchamp</span>
      </div>
      <div>
        <img
          src="assets\img\icons\magnifying-glass.svg"
          alt="magnifying-glass"
        />
        <button>Edit</button>
        <button>Choose</button>
      </div>
    </div>
  </div>
</section>
