@import "./../../../../styles.scss";
@import "./../../../../mixin.scss";

section {
  @include dFlex($jc: flex-start, $gp: 40px);
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  overflow-x: hidden;

  position: relative;

  @media (max-width: 900px) {
    max-width: 280px;
  }
}

.saved-custom-timers-headline {
  @include dFlex();
  flex-direction: column;

  > span {
    color: $copy-light;
    font-size: 16px;
    font-weight: 300;
  }
}

.headline {
  @include dFlex($gp: 8px);

  img {
    height: 20px;
    width: 20px;
  }

  span {
    font-size: 24px;
    color: $copy-light;

    @media (max-width: 900px) {
      font-size: 20px;
    }
  }
}

.timer-settings {
  @include dFlex($ai: flex-start, $gp: 8px);
  flex-direction: column;
  width: 100%;

  > div {
    @include dFlex($gp: 8px);

    img {
      cursor: pointer;
    }

    span {
      font-size: 16px;
      color: $copy-light;
    }
  }
}

.timer-info {
  @include dFlex($jc: space-between, $ai: flex-start);
  width: 100%;

  @media (max-width: 900px) {
    max-width: 280px;
    flex-direction: column;
    gap: 8px;
  }

  span {
    font-size: 16px;
    color: $copy-light;

    .required {
      color: $interface-accent-2;
    }
  }

  > div {
    @include dFlex($ai: flex-end, $gp: 4px);
    flex-direction: column;
    flex: 1;

    input,
    textarea {
      width: 500px;
      padding: 12px;
      color: $copy-dark;
      border-radius: 4px;
      border: none;

      @media (max-width: 900px) {
        width: 280px;
        flex-direction: column;
      }
    }

    textarea {
      resize: none;
      height: 86px;
    }

    span {
      font-size: 12px;
      color: $inactive-text;
    }
  }
}

.saved-custom-timers-box {
  @include dFlex($gp: 20px);
  flex-direction: column;
  width: 100%;
}

.sequence-card {
  @include dFlex($jc: space-between);
  background-color: $settings-background-light;
  border-radius: 4px;
  padding: 12px;
  width: 100%;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: flex-start;
    background-color: unset;
    border-radius: unset;
    padding: 0;
    gap: 4px;

    > :first-child {
      background-color: $settings-background-light;
      width: 100%;
      align-items: center;
      justify-content: flex-start;
      padding: 8px;
      border-radius: 4px;
    }

    > :last-child {
      width: 100%;
      justify-content: flex-end;
    }
  }

  > div {
    @include dFlex($gp: 20px);

    img {
      cursor: pointer;
    }

    span {
      font-size: 16px;
      color: $copy-dark;
    }
  }
}

.delete-sequence-container {
  position: relative;
}

.confirm-delete-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.confirm-delete {
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
  @include dFlex($gp: 16px);
  flex-direction: column;
  z-index: 1;
  width: 232px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: black;
  padding: 16px;
  border-radius: 16px;

  @media (max-width: 900px) {
    left: -20px;
    transform: translateX(0);
  }

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid black;

    @media (max-width: 900px) {
      left: 23px;
      transform: translateX(0);
    }
  }

  p {
    text-align: center;
    color: $copy-light;
  }

  span {
    color: $interface-accent-2 !important;
  }

  > div {
    @include dFlex($jc: space-between);
    width: 100%;
  }
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.saved-custom-timers-box.cdk-drop-list-dragging
  .sequence-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.right.cdk-drop-list-dragging .time-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.create-custom-timer-wrapper {
  @include dFlex($jc: space-between, $ai: flex-start);
  width: 100%;

  @media (max-width: 900px) {
    flex-direction: column-reverse;
  }

  .left {
    @include dFlex($gp: 16px, $ai: flex-start);
    flex-direction: column;

    span {
      font-size: 16px;
      color: $copy-light;
    }

    > div {
      @include dFlex($gp: 8px);

      mat-form-field {
        width: 80px;
      }

      input {
        text-align: center;

        &::-webkit-inner-spin-button,
        ::-webkit-outer-spin-button {
          display: none;
        }
      }
    }
  }

  .right {
    @include dFlex($gp: 16px, $ai: flex-end);
    flex-direction: column;
  }
}

.error {
  color: rgba(229, 69, 72, 1);
  font-size: 14px;
  text-align: right;
  max-width: 300px;
}

.time-card {
  @include dFlex();
  background-color: $settings-background-light;
  border-radius: 4px;
  overflow: hidden;

  @media (max-width: 900px) {
    width: 280px;
  }

  .img-container {
    padding: 8px;
    cursor: pointer;
  }

  .right-container {
    @include dFlex($gp: 8px);
    padding: 8px 8px 8px 0;

    img {
      cursor: pointer;
    }

    > div {
      @include dFlex($gp: 4px);

      span {
        font-size: 10px;
        color: $copy-dark;
      }
    }

    input {
      border: unset;
      outline: unset;
      border-radius: 2px;

      &::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button {
        display: none;
      }
    }

    .name-input {
      width: 300px;
      background-color: rgb(242, 227, 234);

      @media (max-width: 900px) {
        width: 120px;
      }
    }

    .time-input {
      width: 32px;
      background-color: #d2d2d2;
      text-align: center;
    }
  }
}

.red {
  color: rgba(229, 69, 72, 1) !important;
}

.overlay {
  @include dFlex();
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  opacity: 0.5;
  // transform: translateX(calc(100% + 48px));
}
