<section>
  <div class="headline">
    <img src="assets\img\icons\clock.svg" alt="settings" />
    <span>Custom Timers</span>
  </div>

  <div class="timer-settings">
    <div>
      @if (settingsService.appSettings.countdownInBrowserTab) {
      <img
        (click)="toggleShowCountdown()"
        src="assets\img\icons\checkbox-checked.svg"
        alt="checkbox"
      />
      } @else{
      <img
        (click)="toggleShowCountdown()"
        src="assets\img\icons\checkbox-unchecked.svg"
        alt="checkbox"
      />}
      <span>Show timer in browser tab</span>
    </div>

    <div>
      <img src="assets\img\icons\checkbox-checked.svg" alt="checkbox" />
      <span>Save completed flow sequences in your Google Calendar</span>
    </div>
  </div>

  <div class="saved-custom-timers-headline">
    <div class="headline">
      <img src="assets\img\icons\settings.svg" alt="settings" />
      <span>Saved Custom Timers</span>
    </div>
    <span
      >( {{ settingsService.appSettings.customSequences.length }} of 10 )</span
    >
  </div>

  <div
    cdkDropList
    class="saved-custom-timers-box"
    (cdkDropListDropped)="drop($event)"
  >
    @for (sequence of settingsService.appSettings.customSequences; track $index)
    {
    <div class="sequence-card" cdkDrag>
      <div>
        <img src="assets\img\icons\dots.svg" alt="drag" />
        <span>{{ sequence.name }}</span>
      </div>
      <div>
        <img
          src="assets\img\icons\magnifying-glass.svg"
          alt="magnifying-glass"
        />
        <app-simple-settings-button
          [content]="'Edit'"
          (submitEvent)="editSequence()"
        ></app-simple-settings-button>
        <app-simple-settings-button
          [content]="'Choose'"
          (submitEvent)="chooseSequence($index)"
        ></app-simple-settings-button>
      </div>
    </div>
    }
  </div>

  <div class="headline">
    <img src="assets\img\icons\settings.svg" alt="settings" />
    <span>Create Custom Timer</span>
  </div>

  <div class="timer-info">
    <span>Timer Name:</span>
    <div>
      <input
        placeholder="Flowsequence Name"
        [(ngModel)]="sequenceName"
        maxlength="100"
        type="text"
      />
      <span>{{ sequenceName.length }} of 100 characters</span>
    </div>
  </div>

  <div class="timer-info">
    <span>Timer Description:</span>
    <div>
      <textarea
        placeholder="Flowsequence Description"
        [(ngModel)]="sequenceDescription"
        maxlength="1000"
      ></textarea>
      <span>{{ sequenceDescription.length }} of 1000 characters</span>
    </div>
  </div>

  <div class="create-custom-timer-wrapper">
    <div class="left">
      <span>Add:</span>
      <div>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Minutes</mat-label>
          <input matInput [(ngModel)]="flowTimeDuration" placeholder="Min" />
        </mat-form-field>
        <app-simple-settings-button
          [width]="120"
          [height]="42"
          [content]="'Flow Time'"
          (submitEvent)="addFlowTime()"
        ></app-simple-settings-button>
      </div>

      <div>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Minutes</mat-label>
          <input matInput [(ngModel)]="shortBreakDuration" placeholder="Min" />
        </mat-form-field>
        <app-simple-settings-button
          [width]="120"
          [height]="42"
          [content]="'Short Break'"
          (submitEvent)="addShortBreak()"
        ></app-simple-settings-button>
      </div>

      <div>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Minutes</mat-label>
          <input matInput [(ngModel)]="longBreakDuration" placeholder="Min" />
        </mat-form-field>
        <app-simple-settings-button
          [width]="120"
          [height]="42"
          [content]="'Long Break'"
          (submitEvent)="addLongBreak()"
        ></app-simple-settings-button>
      </div>
    </div>
    <div
      class="right"
      cdkDropList
      (cdkDropListDropped)="dropCreateSequence($event)"
    >
      @for (step of newFlowSequence.steps; track $index) {
      <div class="time-card" cdkDrag>
        <img
          class="img-container"
          src="assets/img/icons/dots.svg"
          alt="drag"
          cdkDragHandle
        />
        <div class="right-container">
          <input
            #nameInput
            class="name-input"
            type="text"
            [value]="step.name"
            (input)="renameStep(step, $event)"
          />
          <div>
            <input
              class="time-input"
              type="number"
              [value]="step.duration"
              (input)="editStepDuration(step, $event)"
            />
            <span>min.</span>
          </div>
          <img
            src="assets/img/icons/copy.svg"
            alt="copy"
            (click)="copyStep(step)"
          />
          <img
            src="assets/img/icons/delete.svg"
            alt="delete"
            (click)="deleteStep($index)"
          />
        </div>
      </div>
      } @if (newFlowSequence.steps.length > 0) {
      <app-simple-settings-button
        [height]="42"
        [content]="'Save Timer'"
        (submitEvent)="saveNewFlowSequence()"
      ></app-simple-settings-button>
      }
    </div>
  </div>
</section>
