<section>
  <div class="headline">
    <img src="assets\img\icons\clock.svg" alt="settings" />
    <span>Congratulations!</span>
  </div>

  <p>You completed the following flow sequences in the past 30 days.</p>

  <div class="completed-sequences-list">
    <div class="list-headline">
      <div>Name of the flow sequence:</div>
      <div class="headline-details">
        <div>Completed on:</div>
        <div>Duration:</div>
      </div>
    </div>
    @for (sequence of settingsService.appSettings.completedSequences; track
    $index) {
    <div class="list-row">
      <div class="name-row list-cell">{{ sequence.name }}</div>
      <div class="details-container">
        <div class="list-cell">{{ formatCompleted(sequence) }}</div>
        <div class="list-cell">{{ formatDuration(sequence) }}</div>
      </div>
    </div>
    }
  </div>
</section>
