<section>
  <div class="headline">
    <img src="assets/img/icons/settings.svg" alt="settings" />
    <span>Account</span>
  </div>

  <div class="account-settings">
    <div>
      <span>Login via:</span>
      @if (authService.userSignal()) { <span>Google</span>} @else {<span
        >-</span
      >
      }
    </div>

    <div>
      <span>Email:</span>
      @if (authService.userSignal()) {
      <span>{{ authService.userSignal()?.email }}</span
      >} @else {<span>-</span>
      }
    </div>

    <div>
      <span>Account Type:</span>
      <span>Free</span>
    </div>
  </div>

  <div class="logout-delete-wrapper">
    @if (authService.userSignal()) {
    <app-settings-button-with-icon
      [height]="isMobile ? 50 : 74"
      [width]="isMobile ? 185 : 310"
      [content]="'Logout'"
      [fontSize]="15"
      [fontWeight]="500"
      [imgPath]="'assets/img/icons/logout.svg'"
      (submitEvent)="logoutAndCloseSettings()"
    ></app-settings-button-with-icon>
    }@else {
    <app-settings-button-with-icon
      [height]="isMobile ? 50 : 74"
      [width]="isMobile ? 185 : 310"
      [content]="'Back to Login'"
      [fontSize]="15"
      [fontWeight]="500"
      [imgPath]="'assets/img/icons/logout.svg'"
      (submitEvent)="navigateLogin()"
    ></app-settings-button-with-icon>
    } @if (authService.userSignal()) {
    <app-simple-settings-button
      [height]="isMobile ? 50 : 74"
      [width]="isMobile ? 185 : 310"
      [content]="'Delete Account'"
      [fontSize]="15"
      [fontWeight]="500"
      [style]="'dark'"
      (submitEvent)="deleteAccount()"
    ></app-simple-settings-button>
    }
  </div>
</section>
