@import "./../../../../styles.scss";
@import "./../../../../mixin.scss";

section {
  @include dFlex($jc: flex-start, $gp: 40px);
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  // height: 400px;
  overflow: auto;
}

.headline {
  @include dFlex($gp: 8px);

  img {
    height: 20px;
    width: 20px;
  }

  span {
    font-size: 24px;
    color: $copy-light;
  }
}

.account-settings {
  @include dFlex($ai: flex-start, $gp: 8px);
  flex-direction: column;
  width: 100%;

  @media (max-width: 900px) {
    max-width: 280px;
  }

  > div {
    display: grid;
    grid-template-columns: 106px minmax(0, 1fr);
    gap: 36px;
    max-width: 100%;

    @media (max-width: 900px) {
      gap: 8px;
    }

    span {
      display: block;
      font-size: 16px;
      color: $copy-light;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
    }
  }
}

.logout-delete-wrapper {
  @include dFlex($jc: space-between);
  flex: 1;
  flex-direction: column;

  @media (max-width: 900px) {
    gap: 16px;
  }
}
