<section>
  <div class="headline">
    <img src="assets\img\icons\settings.svg" alt="settings" />
    <span>Account</span>
  </div>

  <div class="account-settings">
    <div>
      <span>First Name:</span>
      <span>Katrin</span>
    </div>

    <div>
      <span>Primary Email:</span>
      <span>katrin.gabriela+flowseq&#64;gmail.com</span>
    </div>

    <div>
      <span>Secondary Email:</span>
      <span>katrin.wertl&#64;gmx.at</span>
    </div>

    <div>
      <span>Account Type:</span>
      <span>Premium</span>
    </div>
  </div>
</section>
