@import "./../../../../mixin.scss";
@import "./../../../../styles.scss";

section {
  @include dFlex($gp: 46px);
  @include glassStyle();
  border-radius: 24px;
  padding: 24px 48px;
  width: 400px;

  img {
    cursor: pointer;
  }

  svg {
    cursor: pointer;

    path {
      transition: fill 250ms ease-in-out, stroke 250ms ease-in-out;
    }

    // &:hover {
    //   path {
    //     stroke: red;
    //     fill: aqua;
    //   }
    // }
  }

  .chapter-img {
    height: 18px;
  }

  .play-pause {
    width: 25px;
    height: 25px;
  }
}
