@import "./../../../../mixin.scss";

.wrapper {
  min-width: 100vw;
  min-width: 100svw;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.background-fixed {
  @include background-fixed();
}

main {
  @include dFlex();
  flex-grow: 1;

  transition: opacity 0.5s ease-in-out;
}

.gradient-top {
  @include gradient(top);
}

.gradient-bottom {
  @include gradient(bottom);
}

.timer-active {
  @include dFlex($gp: 12px, $ai: flex-start);

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }

  .left {
    @include dFlex($gp: 12px);
    flex-direction: column;
  }

  .right {
    @include dFlex($gp: 12px);
    flex-direction: column;

    @media (max-width: 1000px) {
      flex-direction: column-reverse;
    }
  }
}
