<div
  class="wrapper"
  [style.background-image]="
    'url(' + settingsService.appSettings.theme.backgroundImage + ')'
  "
>
  <app-header></app-header>

  <main>
    <div
      [ngStyle]="{
        background:
          'linear-gradient(180deg,' +
          settingsService.appSettings.theme.gradientColor +
          ', rgba(12, 23, 19, 0) 100%)'
      }"
      class="gradient-top"
    ></div>
    <div
      [ngStyle]="{
        background:
          'linear-gradient(0deg,' +
          settingsService.appSettings.theme.gradientColor +
          ', rgba(12, 23, 19, 0) 100%)'
      }"
      class="gradient-bottom"
    ></div>
    @if (flowSequenceService.currentStep) {
    <div class="timer-active">
      <div class="left">
        <app-timer></app-timer>
        <app-media-controls></app-media-controls>
      </div>
      <div class="right">
        <app-flow-sequence-details></app-flow-sequence-details>
        @if (flowSequenceService.sequenceComplete) {
        <app-sequence-complete></app-sequence-complete>
        }
      </div>
    </div>
    }
  </main>
  <app-footer></app-footer>
</div>
