<div class="wrapper">
  <div
    class="background-fixed"
    [style.background-image]="
      'url(' + settingsService.appSettings.theme.backgroundImage + ')'
    "
  ></div>

  @if (settingsService.themeTransitionInProgress) {
  <div
    class="backgound-fade-out"
    [style.background-image]="
      'url(' + settingsService.oldTheme?.backgroundImage + ')'
    "
    [ngClass]="{ 'fade-out': settingsService.themeFade }"
  ></div>
  }

  <div
    [ngStyle]="{
      background:
        'linear-gradient(180deg,' +
        settingsService.appSettings.theme.gradientColor +
        ', rgba(12, 23, 19, 0) 100%)'
    }"
    class="gradient-top"
  ></div>
  <div
    [ngStyle]="{
      background:
        'linear-gradient(0deg,' +
        settingsService.appSettings.theme.gradientColor +
        ', rgba(12, 23, 19, 0) 100%)'
    }"
    class="gradient-bottom"
  ></div>

  <app-header></app-header>

  <main>
    <div class="welcome-wrapper">
      <h1>Hello{{ displayName }},</h1>

      <span>what do you wanna do today?</span>
    </div>

    <div class="buttons-wrapper">
      <app-glass-button
        matTooltip="The Standard Flow Sequence is a preset timer based on the well-known Pomodoro technique. It helps you stay productive by guiding you through 25-minute work sessions (Flows) followed by short 5-minute breaks. After completing four Flows, you’ll enjoy a longer break to maintain focus and avoid burnout."
        [matTooltipPosition]="'above'"
        [btnAction]="'Start'"
        [btnName]="'Standard'"
        [btnType]="'Flow Sequence'"
        (buttonClicked)="startStandardSequence()"
      ></app-glass-button>

      <app-glass-button
        [btnAction]="'Start'"
        matTooltip="The Reverse Flow Sequence offers an alternative approach that helps you jump into work with renewed energy. After a relaxing 25-minute break, you focus on just 5 minutes of work to boost productivity. This method is great for tackling tasks when you need a little extra motivation to get started."
        [matTooltipPosition]="'above'"
        [btnName]="'Reverse'"
        [btnType]="'Flow Sequence'"
        (buttonClicked)="startReverseSequence()"
      ></app-glass-button>

      <app-glass-button
        matTooltip="Create your own Custom Flow Sequence. Adjust the length of your time windows for deep work and following relaxation to your liking. You are a beast easily focussing for 2 hours and then love to make a break for 30 mintues? Do it! You prefer sprints of 20 minutes and breaks of 5 minutes? Set it up your way!"
        [matTooltipPosition]="'above'"
        [btnAction]="'Create'"
        [btnName]="'Custom'"
        [btnType]="'Flow Sequence'"
        (buttonClicked)="openCreateTimerMenu()"
      ></app-glass-button>

      <app-glass-button
        matTooltip="Browse your saved custom sequences. You can select one and start working right away or edit and fine-tune them. Deleting a flow sequence can not be undone - so be careful! The Standard Flow Sequence & Reverse Flow Sequence can not be deleted."
        [matTooltipPosition]="'above'"
        [btnAction]="'Browse'"
        [btnName]="'Saved'"
        [btnType]="'Flow Sequences'"
        (buttonClicked)="openSavedTimersMenu()"
      ></app-glass-button>
    </div>
  </main>

  <app-footer></app-footer>
</div>
