@import "./../../../../mixin.scss";
@import "./../../../../styles.scss";

.wrapper {
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  min-width: 100svw;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

main {
  @include dFlex();
  @include dFlex($gp: 80px);
  flex-direction: column;
  flex-grow: 1;

  transition: opacity 0.5s ease-in-out;
}

.welcome-wrapper {
  @include glassStyle();
  @include dFlex($gp: 26px);
  flex-direction: column;
  padding: 80px 120px;
  border-radius: 24px;

  h1 {
    font-size: 80px;
    font-weight: 400;
    color: $copy-light;
  }

  span {
    font-size: 24px;
    font-weight: 300;
    color: $copy-light;
  }
}

.buttons-wrapper {
  @include dFlex($gp: 48px);
}
