<div
  class="wrapper"
  [style.background-image]="
    'url(' + settingsService.appSettings.theme.backgroundImage + ')'
  "
>
  <div
    [ngStyle]="{
      background:
        'linear-gradient(180deg,' +
        settingsService.appSettings.theme.gradientColor +
        ', rgba(12, 23, 19, 0) 100%)'
    }"
    class="gradient-top"
  ></div>
  <div
    [ngStyle]="{
      background:
        'linear-gradient(0deg,' +
        settingsService.appSettings.theme.gradientColor +
        ', rgba(12, 23, 19, 0) 100%)'
    }"
    class="gradient-bottom"
  ></div>

  <app-header></app-header>

  <main>
    <div class="welcome-wrapper">
      <h1>Hallo{{ displayName }},</h1>

      <span>was möchtest du heute machen?</span>
    </div>

    <div class="buttons-wrapper">
      <app-glass-button
        matTooltip="The Standard Flow Sequence is a preset timer based on the well-known Pomodoro technique. It helps you stay productive by guiding you through 25-minute work sessions (Flows) followed by short 5-minute breaks. After completing four Flows, you’ll enjoy a longer break to maintain focus and avoid burnout."
        [matTooltipPosition]="'above'"
        [btnAction]="'Start'"
        [btnName]="'Standard'"
        [btnType]="'Flow Sequence'"
        (buttonClicked)="startStandardSequence()"
      ></app-glass-button>

      <app-glass-button
        [btnAction]="'Start'"
        matTooltip="The Reverse Flow Sequence offers an alternative approach that helps you jump into work with renewed energy. After a relaxing 25-minute break, you focus on just 5 minutes of work to boost productivity. This method is great for tackling tasks when you need a little extra motivation to get started."
        [matTooltipPosition]="'above'"
        [btnName]="'Reverse'"
        [btnType]="'Flow Sequence'"
        (buttonClicked)="startReverseSequence()"
      ></app-glass-button>

      <app-glass-button
        [btnAction]="'Create'"
        [btnName]="'Custom'"
        [btnType]="'Flow Sequence'"
        (buttonClicked)="openCreateTimerMenu()"
      ></app-glass-button>

      <app-glass-button
        [btnAction]="'Browse'"
        [btnName]="'Saved'"
        [btnType]="'Flow Sequences'"
        (buttonClicked)="openSavedTimersMenu()"
      ></app-glass-button>
    </div>
  </main>

  <app-footer></app-footer>
</div>
