@import "./../../../../../styles.scss";
@import "./../../../../../mixin.scss";

button {
  @include dFlex($gp: 8px);
  font-size: 14px;
  border-radius: 4px;
  border: unset;
  padding: 4.5px 16px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.primary {
  color: rgb(251, 251, 251);
  background-color: $interface-accent-2;
  border: 1px solid $interface-accent-2;

  &:hover {
    background-color: rgb(214, 44, 124);
    border: 1px solid rgb(214, 44, 124);
  }
}

.secondary {
  border: 1px solid $interface-accent-2;
  color: $interface-accent-2;
  background-color: $settings-background-light;

  &:hover {
    color: rgb(251, 251, 251);
    background-color: $interface-accent-2;
  }
}
