<section
  [ngClass]="{
    'fow-seq-fin':
      flowSequenceService.currentStepindex ===
        flowSequenceService.activeFlowSequence().steps.length - 1 &&
      flowSequenceService.minutesRemaining < 1 &&
      flowSequenceService.secondsOfMinuteRemainung <= 1
  }"
  [ngStyle]="{
    '--scrollbar-color': settingsService.appSettings.theme.accentColor
  }"
  (click)="$event.stopPropagation()"
>
  <div class="sequence-box">
    @for (step of flowSequence.steps; track $index) {

    <div class="step-wrapper">
      <img
        [ngClass]="{ 'step-done': step.complete }"
        [ngStyle]="{
          'background-color': step.complete
            ? settingsService.appSettings.theme.accentColor
            : ''
        }"
        src="assets/img/icons/flow-checkbox.svg"
        alt="checkmark"
      />
      <div>
        <span>{{ step.name }}</span>
        @if(!preview){
        <img
          (click)="flowSequenceService.restartStep($index)"
          src="assets\img\icons\restart.svg"
          alt=""
        />}
      </div>
    </div>
    }
  </div>

  <div class="bottom-container">
    <div class="progress-container">
      @for (step of flowSequence.steps ; track $index) { @if (step.type ===
      'flowTime') {
      <div
        [ngStyle]="
          step.complete
            ? {
                'background-color':
                  settingsService.appSettings.theme.accentColor
              }
            : {}
        "
        class="flow-time"
      ></div>
      }@else if (step.type === 'longBreak') {
      <div
        [ngStyle]="
          step.complete
            ? {
                'background-color':
                  settingsService.appSettings.theme.accentColor
              }
            : {}
        "
        class="long-break"
      ></div>
      } @else if (step.type === 'shortBreak') {
      <div
        [ngStyle]="
          step.complete
            ? {
                'background-color':
                  settingsService.appSettings.theme.accentColor
              }
            : {}
        "
        class="short-break"
      ></div>
      } }
    </div>

    <div class="complete-upload-container">
      <img
        [ngClass]="{
          'sequence-complete': flowSequenceService.sequenceComplete
        }"
        [ngStyle]="{
          'background-color': flowSequenceService.sequenceComplete
            ? settingsService.appSettings.theme.accentColor
            : ''
        }"
        src="assets/img/icons/flow-checkbox.svg"
        alt=""
      />

      <!-- TODO: Uncomment once Google Calendar integration is available on the backend. -->
      <!-- <svg
        width="38"
        height="38"
        viewBox="0 0 44 44"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 41.6V2.4C1 2.0287 1.1475 1.6726 1.41005 1.41005C1.6726 1.1475 2.0287 1 2.4 1H41.6C41.9713 1 42.3274 1.1475 42.59 1.41005C42.8525 1.6726 43 2.0287 43 2.4V41.6C43 41.9713 42.8525 42.3274 42.59 42.59C42.3274 42.8525 41.9713 43 41.6 43H2.4C2.0287 43 1.6726 42.8525 1.41005 42.59C1.1475 42.3274 1 41.9713 1 41.6Z"
          [attr.stroke]="settingsService.appSettings.theme.accentColor"
          stroke-width="2"
        />
        <path
          d="M8 36H36M22 26.6667V8M22 8L30.1667 16.1667M22 8L13.8333 16.1667"
          [attr.stroke]="settingsService.appSettings.theme.accentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg> -->
    </div>
  </div>
  @if (preview) {
  <app-simple-settings-button
    [content]="'Choose'"
    (submitEvent)="chooseSequence()"
  ></app-simple-settings-button>
  }
</section>
