@import "./../../../../mixin.scss";
@import "./../../../../styles.scss";

section {
  @include dFlex();
  @include glassStyle();
  position: relative;
  flex-direction: column;
  border-radius: 24px;
  padding: 0 48px;
  overflow: hidden;

  width: 400px;
  height: 550px;

  p {
    color: $copy-light;
    font-size: 24px;
    text-align: center;
  }

  .minutes {
    color: $copy-light;
    font-size: 256px;
    font-weight: 300;
    line-height: 236px;
  }

  .time-text {
    color: rgba(255, 255, 255, 0.25);
    font-size: 24px;
    font-weight: 300;
  }

  .seconds-bar-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 6px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.75);
    overflow: hidden;

    .bar {
      height: 100%;
      background-color: rgb(106, 158, 157);
      transition: width linear 1s;
    }
  }

  .transition-opacity {
    transition: none;
    animation: animate-bar 1s linear forwards;
  }

  img {
    position: absolute;
    bottom: 36px;
    cursor: pointer;
  }
}

@keyframes animate-bar {
  0% {
    opacity: 0;
    width: 100%;
  }

  75% {
    opacity: 50%;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}
