@import "./../../../../mixin.scss";
@import "./../../../../styles.scss";

section {
  @include dFlex();
  @include glassStyle();
  position: relative;
  flex-direction: column;
  border-radius: 24px;
  padding: 0 48px;
  overflow: hidden;

  width: 400px;
  height: 550px;

  @media (max-width: 1000px) {
    height: auto;
    padding: 16px;
  }

  @media (max-width: 400px) {
    height: auto;
    width: 90vw;
    width: 90svw;
    padding: 16px;
  }

  p {
    color: $copy-light;
    font-size: 24px;
    text-align: center;
  }

  .progress-bar-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.75);
    overflow: hidden;

    .bar {
      height: 100%;
      background-color: rgb(106, 158, 157);
      transition: width linear 1s;
    }
  }

  .transition-opacity {
    transition: none;
    animation: animate-bar 1s linear forwards;
  }

  img {
    position: absolute;
    bottom: 36px;
    cursor: pointer;
  }
}

.main-message-wrapper {
  @include dFlex();
  position: relative;

  width: 100%;
  height: 236px;

  @media (max-width: 1000px) {
    height: 100px;
  }

  > span {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .minutes {
    color: $copy-light;
    font-size: 256px;
    font-weight: 300;

    @media (max-width: 1000px) {
      font-size: 120px;
    }
  }

  .push {
    color: $copy-light;
    font-size: 65px;
    font-weight: 300;

    @media (max-width: 1000px) {
      font-size: 58px;
    }
  }

  .gratulation {
    color: $copy-light;
    font-size: 48px;
    font-weight: 600;
  }
}

.time-text-wrapper {
  @include dFlex($ai: flex-start);
  width: 100%;
  height: 56px;

  > span {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .gray {
    color: rgba(255, 255, 255, 0.25) !important;
  }

  .time-text {
    color: rgba(255, 255, 255, 0.75);
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    text-wrap: pretty;
    max-width: 236px;
  }
}

.show {
  opacity: 1 !important;
}
.hide {
  opacity: 0 !important;
}

@keyframes animate-bar {
  0% {
    opacity: 0;
    width: 100%;
  }

  75% {
    opacity: 50%;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}
