<section>
  <p>
    {{
      flowSequenceService.activeFlowSequence.name
        ? flowSequenceService.activeFlowSequence.name
        : "Choose your Flow Sequence"
    }}
  </p>

  <span class="minutes">{{ flowSequenceService.minutesRemaining }}</span>

  <span class="time-text">minutes</span>

  <div class="progress-bar-wrapper">
    <div
      [ngStyle]="{
        width:
          (this.flowSequenceService.currentStepTimeRemaining /
            (this.flowSequenceService.currentStep.duration * 60)) *
            100 +
          '%',
        'background-color': settingsService.appSettings.theme.accentColor
      }"
      class="bar"
      [ngClass]="{
        'transition-opacity': this.flowSequenceService.animateBar === true
      }"
    ></div>
  </div>

  @if (!flowSequenceDetailsOpen) {
  <img
    (click)="editTimer()"
    src="assets/img/icons/edit-flowsequence.svg"
    alt="edit"
  />}
</section>
