<section>
  <p>
    {{
      flowSequenceService.activeFlowSequence().name
        ? flowSequenceService.activeFlowSequence().name
        : "Choose your Flow Sequence"
    }}
  </p>

  <div class="main-message-wrapper">
    <span
      class="gratulation"
      [ngClass]="{
        show: flowSequenceService.sequenceComplete,
        hide: !flowSequenceService.sequenceComplete
      }"
      >Well done!</span
    >
    <span
      class="push"
      [ngClass]="{
        show:
          (flowSequenceService.minutesRemaining < 2 &&
            flowSequenceService.secondsOfMinuteRemainung < 2 &&
            !flowSequenceService.sequenceComplete) ||
          (flowSequenceService.minutesRemaining < 1 &&
            !flowSequenceService.sequenceComplete),
        hide:
          (flowSequenceService.minutesRemaining > 1 &&
            flowSequenceService.secondsOfMinuteRemainung > 2) ||
          flowSequenceService.sequenceComplete
      }"
      >final push</span
    >
    <span
      class="minutes"
      [ngClass]="{
        show:
          flowSequenceService.minutesRemaining >= 1 &&
          !flowSequenceService.sequenceComplete,
        hide:
          (flowSequenceService.minutesRemaining < 2 &&
            flowSequenceService.secondsOfMinuteRemainung < 2) ||
          flowSequenceService.sequenceComplete
      }"
      >{{ flowSequenceService.minutesRemaining }}</span
    >
  </div>

  <div class="time-text-wrapper">
    <span
      class="time-text"
      [ngClass]="{
        show: flowSequenceService.sequenceComplete,
        hide: !flowSequenceService.sequenceComplete
      }"
      >You completed your flow sequence</span
    >
    <span
      class="time-text"
      [ngClass]="{
        show:
          (flowSequenceService.minutesRemaining < 2 &&
            flowSequenceService.secondsOfMinuteRemainung < 2 &&
            !flowSequenceService.sequenceComplete) ||
          (flowSequenceService.minutesRemaining < 1 &&
            !flowSequenceService.sequenceComplete),
        hide:
          (flowSequenceService.minutesRemaining > 1 &&
            flowSequenceService.secondsOfMinuteRemainung > 2) ||
          flowSequenceService.sequenceComplete
      }"
      >the last 60 seconds</span
    >
    <span
      class="time-text gray"
      [ngClass]="{
        show:
          flowSequenceService.minutesRemaining >= 1 &&
          !flowSequenceService.sequenceComplete,
        hide:
          (flowSequenceService.minutesRemaining < 2 &&
            flowSequenceService.secondsOfMinuteRemainung < 2) ||
          flowSequenceService.sequenceComplete
      }"
      >minutes</span
    >
  </div>

  <div class="progress-bar-wrapper">
    <div
      [ngStyle]="{
        width:
          (this.flowSequenceService.currentStepTimeRemaining /
            (this.flowSequenceService.currentStep.duration * 60)) *
            100 +
          '%',
        'background-color': settingsService.appSettings.theme.accentColor
      }"
      class="bar"
      [ngClass]="{
        'transition-opacity': this.flowSequenceService.animateBar === true
      }"
    ></div>
  </div>

  <!-- @if (!flowSequenceDetailsOpen) {
  <img
    (click)="editTimer()"
    src="assets/img/icons/edit-flowsequence.svg"
    alt="edit"
  />} -->
</section>
