@import "./../../../../styles.scss";
@import "./../../../../mixin.scss";

section {
  @include dFlex($jc: flex-start, $gp: 40px);
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  overflow: auto;

  color: $copy-light;

  @media (max-width: 900px) {
    width: 280px;
  }
}

.headline {
  @include dFlex($gp: 8px);

  img {
    height: 20px;
    width: 20px;
  }

  span {
    font-size: 24px;
    color: $copy-light;
  }
}

.select-sounds-wrapper {
  @include dFlex($gp: 24px);
  flex-direction: column;

  > p {
    text-align: center;
    max-width: 450px;
  }
}

.drag-wrapper {
  width: 100%;
  @include dFlex($ai: flex-start, $jc: space-between);

  .drag-left {
    @include dFlex($gp: 16px, $ai: flex-start);
    flex-direction: column;

    > div {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  .drag-right {
    @include dFlex($gp: 16px, $ai: flex-start);
    flex-direction: column;

    > div {
      @include dFlex($ai: flex-start, $gp: 4px);
      flex-direction: column;

      > div {
        @include dFlex($gp: 8px);

        img {
          cursor: pointer;
        }
      }
    }
  }
}

.drag-area {
  @include dFlex($gp: 8px, $jc: flex-start);
  max-width: 300px;
  flex-wrap: wrap;
}

.dropArea {
  @include dFlex();
  height: 35px;
  min-width: 95px;
  width: fit-content;
  border-radius: 4px;
  border: 1px dashed $interface-accent-1;
  overflow: hidden;

  @media (max-width: 900px) {
    height: unset;
    min-height: 35px;
  }

  .cdk-drag-placeholder {
    display: none !important;
  }
}

.sound-item {
  position: relative;
  @include dFlex();
  background-color: $interface-accent-2;
  color: $copy-light;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;

  @media (max-width: 900px) {
    max-width: 110px;
    min-width: 95px;
    padding: 8px;
  }
}

mat-slider {
  width: 500px;

  @media (max-width: 900px) {
    width: 80%;
  }
}
