<section>
  <div class="headline">
    <img src="assets\img\icons\music-note.svg" alt="settings" />
    <span>Sounds</span>
  </div>

  <div class="select-sounds-wrapper">
    <p>
      Test the different sounds by clicking the buttons and then drag and drop
      the button of your chosen notification sound into the fields.
    </p>
  </div>
  <div class="drag-wrapper">
    <div class="drag-left">
      <div>
        <span>Longer notifications:</span>
        <div
          cdkDropList
          [cdkDropListData]="longSounds"
          [cdkDropListConnectedTo]="[
            'flowArea',
            'shortBreakArea',
            'longBreakArea',
            'completedArea'
          ]"
          cdkDropListSortingDisabled
          class="drag-area"
        >
          @for (sound of longSounds; track $index) {
          <div class="sound-item" cdkDrag [cdkDragData]="sound">
            {{ sound.name }}
          </div>
          }
        </div>
      </div>
      <div>
        <span>Shorter notifications:</span>
      </div>
    </div>
    <div class="drag-right">
      <div>
        <span>Sound when flow time has ended:</span>
        <div>
          <div
            cdkDropList
            cdkDropListSortingDisabled
            id="flowArea"
            (cdkDropListDropped)="onDrop($event, 'flow')"
            class="dropArea"
            [ngStyle]="{ border: selectedFlowTimeSound ? 'hidden' : '' }"
          >
            @if (selectedFlowTimeSound) {
            <div
              cdkDrag
              (cdkDragEnded)="checkDropOutside($event, 'flowArea')"
              class="sound-item"
            >
              {{ selectedFlowTimeSound.name }}
            </div>
            }@else {
            <p>Drag Here</p>
            }
          </div>
          <img
            (click)="removeSoundFromFlow('flowArea')"
            src="assets/img/icons/pink-delete.svg"
            alt="delete"
          />
        </div>
      </div>
      <div>
        <span>Sound when short break has ended:</span>
        <div>
          <div
            cdkDropList
            cdkDropListSortingDisabled
            id="shortBreakArea"
            (cdkDropListDropped)="onDrop($event, 'shortBreak')"
            class="dropArea"
            [ngStyle]="{ border: selectedShortBreakSound ? 'hidden' : '' }"
          >
            @if (selectedShortBreakSound) {
            <div
              cdkDrag
              (cdkDragEnded)="checkDropOutside($event, 'shortBreakArea')"
              class="sound-item"
            >
              {{ selectedShortBreakSound.name }}
            </div>
            }@else {
            <p>Drag Here</p>
            }
          </div>
          <img
            (click)="removeSoundFromFlow('shortBreakArea')"
            src="assets/img/icons/pink-delete.svg"
            alt="delete"
          />
        </div>
      </div>
      <div>
        <span>Sound when long break has ended:</span>
        <div>
          <div
            cdkDropList
            cdkDropListSortingDisabled
            id="longBreakArea"
            (cdkDropListDropped)="onDrop($event, 'longBreak')"
            class="dropArea"
            [ngStyle]="{ border: selectedLongBreakSound ? 'hidden' : '' }"
          >
            @if (selectedLongBreakSound) {
            <div
              cdkDrag
              (cdkDragEnded)="checkDropOutside($event, 'longBreakArea')"
              class="sound-item"
            >
              {{ selectedLongBreakSound.name }}
            </div>
            }@else {
            <p>Drag Here</p>
            }
          </div>
          <img
            (click)="removeSoundFromFlow('longBreakArea')"
            src="assets/img/icons/pink-delete.svg"
            alt="delete"
          />
        </div>
      </div>
      <div>
        <span>Sound when flow sequence is completed:</span>
        <div>
          <div
            cdkDropList
            cdkDropListSortingDisabled
            id="completedArea"
            (cdkDropListDropped)="onDrop($event, 'completed')"
            class="dropArea"
            [ngStyle]="{ border: selectedCompletedSound ? 'hidden' : '' }"
          >
            @if (selectedCompletedSound) {
            <div
              cdkDrag
              (cdkDragEnded)="checkDropOutside($event, 'completedArea')"
              class="sound-item"
            >
              {{ selectedCompletedSound.name }}
            </div>
            }@else {
            <p>Drag Here</p>
            }
          </div>
          <img
            (click)="removeSoundFromFlow('completedArea')"
            src="assets/img/icons/pink-delete.svg"
            alt="delete"
          />
        </div>
      </div>
    </div>
  </div>
</section>
