@import "./../../../../mixin.scss";
@import "./../../../../styles.scss";

footer {
  @include dFlex($jc: space-between);
  padding: 16px;
  position: relative;
  z-index: 1;
  font-size: 14px;
  transition: opacity 400ms ease-in-out;

  > svg {
    display: none;

    @media (max-width: 1000px) {
      display: block;
    }
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    padding: 32px;
  }
}

.left-wrapper,
.right-wrapper {
  @include dFlex($jc: flex-start, $gp: 80px);

  @media (max-width: 1200px) {
    gap: 8px;
  }

  @media (max-width: 1000px) {
    align-items: flex-start;
    flex-direction: column;
    width: 250px;
  }
}

.social-media-wrapper {
  @include dFlex($gp: 4px);

  span {
    color: $copy-light;
  }

  svg {
    cursor: pointer;

    &:hover path {
      stroke: $copy-light !important;
    }
  }
}

a {
  text-decoration: none;
}

.footer-item {
  @include dFlex($gp: 4px);

  span {
    color: $copy-light;
  }

  a {
    color: $copy-light;
    text-decoration: none;
  }

  &:hover svg path {
    stroke: $copy-light !important;
  }
}

svg {
  path {
    transition: stroke 250ms ease-in-out;
  }
}

.pointer {
  cursor: pointer;
}
