@import "./../../../../styles.scss";
@import "./../../../../mixin.scss";

section {
  @include dFlex($jc: flex-start, $gp: 40px);
  flex-direction: column;

  height: 100vh;
  height: 100svh;
  padding: 48px;

  min-width: 800px;

  background-color: $settings-background;
  transform: translateX(100%);
  transition: transform 750ms ease-in-out;
  overflow: auto;

  @media (max-width: 900px) {
    min-width: unset;
    padding: 24px 12px;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $settings-background;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color, $standard-accent);
  }
}

.headline {
  @include dFlex($gp: 16px);

  h2 {
    color: $copy-light;
    font-size: 48px;
    font-weight: 400;
  }
}

nav {
  @include dFlex();

  @media (max-width: 900px) {
    display: grid;
    grid-template-columns: auto 1fr;

    & :last-child {
      grid-column: span 2;
    }
  }

  > div {
    @include dFlex($gp: 4px);
    background-color: $tab-background-color;
    padding: 16px 20px;
    border-bottom: 4px solid $inactive-text;
    cursor: pointer;
    transition: border 250ms ease-in-out;

    @media (max-width: 900px) {
      padding: 16px 8px;
    }

    &:first-child {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }

    &:last-child {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:hover {
      border-bottom: 4px solid $interface-accent-1-light;

      svg path {
        stroke: $copy-light;
      }

      span {
        color: $copy-light;
      }
    }

    svg {
      height: 16px;
      width: 16px;

      path {
        transition: stroke 250ms ease-in-out;
      }
    }

    span {
      font-size: 16px;
      color: $inactive-text;
      transition: color 250ms ease-in-out;
    }
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  app-settings-general,
  app-settings-completed-sequences {
    display: flex;
    flex-grow: 1;
  }
}

.active {
  border-bottom: 4px solid $interface-accent-1 !important;

  span {
    color: $copy-light !important;
  }

  svg path {
    stroke: $copy-light;
  }
}

.start-animation {
  transform: translateX(0);
}
