@import "./../../../../styles.scss";
@import "./../../../../mixin.scss";

section {
  @include dFlex($jc: flex-start, $gp: 40px);
  flex-direction: column;

  height: 100vh;
  height: 100svh;
  padding: 48px;

  background-color: $settings-background;
  transform: translateX(100%);
  transition: transform 750ms ease-in-out;
  overflow: auto;
}

.headline {
  @include dFlex($gp: 16px);

  h2 {
    color: $copy-light;
    font-size: 48px;
    font-weight: 400;
  }
}

nav {
  @include dFlex();

  > div {
    @include dFlex($gp: 4px);
    background-color: $tab-background-color;
    padding: 16px 20px;
    border-bottom: 4px solid $inactive-text;
    cursor: pointer;
    transition: border 250ms ease-in-out;

    &:first-child {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }

    &:last-child {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:hover {
      border-bottom: 4px solid $interface-accent-1-light;

      svg path {
        stroke: $copy-light;
      }

      span {
        color: $copy-light;
      }
    }

    svg {
      height: 16px;
      width: 16px;

      path {
        transition: stroke 250ms ease-in-out;
      }
    }

    span {
      font-size: 16px;
      color: $inactive-text;
      transition: color 250ms ease-in-out;
    }
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  app-settings-general {
    display: flex;
    flex-grow: 1;
  }
}

.active {
  border-bottom: 4px solid $interface-accent-1 !important;

  span {
    color: $copy-light !important;
  }

  svg path {
    stroke: $copy-light;
  }
}

.start-animation {
  transform: translateX(0);
}
