@import "./../../../../mixin.scss";

main {
  @include dFlex();
  min-width: 100vw;
  min-width: 100svw;
  min-height: 100vh;
  min-height: 100svh;

  background-size: cover;
  background-position: center;
}
