<div
  class="wrapper"
  [style.background-image]="
    'url(' + settingsService.appSettings.theme.backgroundImage + ')'
  "
>
  <app-header></app-header>
  <button class="test-button" (click)="calendarService.testGetEvents()">
    TEST Google
  </button>

  <main>
    <div
      [ngStyle]="{
        background:
          'linear-gradient(180deg,' +
          settingsService.appSettings.theme.gradientColor +
          ', rgba(12, 23, 19, 0) 100%)'
      }"
      class="gradient-top"
    ></div>
    <div
      [ngStyle]="{
        background:
          'linear-gradient(0deg,' +
          settingsService.appSettings.theme.gradientColor +
          ', rgba(12, 23, 19, 0) 100%)'
      }"
      class="gradient-bottom"
    ></div>

    @if (settingsService.settingsOpen) {
    <app-settings-overlay></app-settings-overlay>} @if
    (flowSequenceService.activeFlowSequence) {
    <div class="timer-active">
      <div class="left">
        <app-timer></app-timer>
        <app-media-controls></app-media-controls>
      </div>
      <div class="right">
        <app-flow-sequence-details></app-flow-sequence-details>
      </div>
    </div>

    } @else {<app-welcome></app-welcome>}
  </main>
  <app-footer></app-footer>
</div>
