@import "./../../../../mixin.scss";

main {
  @include dFlex();
  min-width: 100vw;
  min-width: 100svw;
  min-height: 100vh;
  min-height: 100svh;

  background-size: cover;
  background-position: center;

  transition: opacity 0.5s ease-in-out;
}

// main.fade-out {
//   opacity: 0;
// }

// main.fade-in {
//   opacity: 1;
// }

.timer-active {
  @include dFlex($gp: 12px, $ai: flex-start);

  .left {
    @include dFlex($gp: 12px);
    flex-direction: column;
  }
}

.open-settings {
  position: absolute;
  top: 36px;
  right: 36px;
  height: 36px;
  width: 36px;
  background-color: red;
  cursor: pointer;
}
