@import "./../../../../mixin.scss";

.wrapper {
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  min-width: 100svw;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

main {
  @include dFlex();
  flex-grow: 1;

  transition: opacity 0.5s ease-in-out;
}

.gradient-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 33vh;
  height: 33svh;
  pointer-events: none;
}

.gradient-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 33vh;
  height: 33svh;
  pointer-events: none;
}

.timer-active {
  @include dFlex($gp: 12px, $ai: flex-start);

  .left {
    @include dFlex($gp: 12px);
    flex-direction: column;
  }
}

.open-settings {
  position: absolute;
  top: 36px;
  right: 36px;
  height: 36px;
  width: 36px;
  background-color: red;
  cursor: pointer;
}
