<section>
  <div class="headline">
    <img src="assets\img\icons\themes.svg" alt="themes" />
    <span>Themes</span>
  </div>

  <div class="select-theme-wrapper">
    <span>Select your theme:</span>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
    <app-simple-settings-button
      [content]="'Choose this Theme'"
    ></app-simple-settings-button>
  </div>

  <div class="preview-wrapper">
    <span>Preview:</span>
    <img src="assets/img/backgrounds/background-3.webp" alt="background" />
  </div>
</section>
