<section>
  <div class="headline">
    <img src="assets\img\icons\themes.svg" alt="themes" />
    <span>Themes</span>
  </div>

  <div class="select-wrapper">
    <div class="select-theme-wrapper">
      <span>Select your theme:</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="selectedTheme" [compareWith]="compareThemes">
          @for (theme of settingsService.themeList; track $index) {
          <mat-option [value]="theme">{{ theme.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <app-simple-settings-button
        [content]="'Choose this Theme'"
        [fontWeight]="500"
        [height]="48"
        (submitEvent)="chooseTheme()"
      ></app-simple-settings-button>
    </div>

    <div class="preview-wrapper">
      <span>Preview:</span>
      <img [src]="selectedTheme.backgroundImage" alt="background" />
    </div>
  </div>
</section>
