@import "./../../../../styles.scss";
@import "./../../../../mixin.scss";

section {
  @include dFlex($jc: flex-start, $gp: 40px);
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.headline {
  @include dFlex($gp: 8px);

  img {
    height: 20px;
    width: 20px;
  }

  span {
    font-size: 24px;
    color: $copy-light;
  }
}

.select-theme-wrapper {
  @include dFlex($gp: 36px);

  span {
    font-size: 16px;
    color: $copy-light;
  }
}

// ::ng-deep .mat-form-field-outline {
//   stroke: blue; /* Deine gewünschte Farbe */
// }

// ::ng-deep .mat-form-field-outline-thick {
//   stroke: green; /* Farbe für die dicke Outline beim Fokussieren */
// }

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.preview-wrapper {
  @include dFlex($ai: flex-start, $gp: 36px);

  span {
    font-size: 16px;
    color: $copy-light;
  }

  img {
    width: 600px;
  }
}
