@import "./../../../../styles.scss";
@import "./../../../../mixin.scss";

section {
  @include dFlex($jc: flex-start, $gp: 40px);
  flex-direction: column;
  width: 100%;
  flex-grow: 1;

  @media (max-width: 900px) {
    width: 280px;
  }
}

.headline {
  @include dFlex($gp: 8px);

  img {
    height: 20px;
    width: 20px;
  }

  span {
    font-size: 24px;
    color: $copy-light;
  }
}

.select-wrapper {
  @include dFlex($ai: flex-start, $gp: 40px);
  flex-direction: column;

  @media (max-width: 900px) {
    align-items: center;
  }
}

.select-theme-wrapper {
  @include dFlex($gp: 36px);

  @media (max-width: 900px) {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    > :nth-child(2),
    > :nth-child(3) {
      margin-left: 16px;
    }
  }

  span {
    font-size: 16px;
    color: $copy-light;
  }
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.preview-wrapper {
  @include dFlex($ai: flex-start, $gp: 36px);

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 16px;
  }

  span {
    font-size: 16px;
    color: $copy-light;
  }

  > div {
    position: relative;
    height: 100%;

    img {
      display: block;
      width: 600px;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      object-position: center;

      @media (max-width: 900px) {
        width: 100%;
      }
    }

    div {
      position: absolute;
      bottom: 15px;
      left: 15px;
      height: 46px;
      width: 46px;
    }
  }
}
