@import "./../../../../mixin.scss";
@import "./../../../../styles.scss";

section {
  @include dFlex($jc: flex-end);
  background-color: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  transition: opacity 750ms ease-in-out;
}

.start-animation {
  opacity: 1;
}
